<h2 class="text-primary">What is BoatHouse Pictures?</h2>

<p>BoatHouse Pictures is located in Philadelphia, Pennsylvania. Here at BHP we focus on the production and development of original motion pictures. Our film projects range from shorts, using local talents, to larger scale feature films. Our goal is to provide entertaining, creative, and original movies. For upcoming features, click here.</p>

<p>BHP seeks to focus not only on movies, but by connecting with our community and making a difference right here at home. Keeping this in mind, we provide services for our local (Tri-State) businesses and consumers. These services range from videography, industrial shorts, commercials, and event coverage, For more information about our services, please visit our "Services" Tab. </p> 

<h2 class="text-primary">Our Crew:</h2>
<p>Our crew is made up of talented and passionate individuals from different academic and professional backgrounds, coming together for one central goal... success. Our success is measured by the products we provide and how we please our consumers.</p>

<br>
<div id="posts" class="transitions-enabled">
<div class="box panel panel-default">
<div class="panel-body">
<p><strong>Andre Saballette – Executive Director</strong><p>
<p>Andre Saballette is the creative mind behind the philosophy, goals, and standard for the company. He has been working in the film industry, both in front and behind the cameras, since late 2008. In the few years since his career began, he has worked on a diverse range of projects which include feature length narratives, documentaries, shorts, industrial, and commercials.</p>

<p>Immediately prior to Boathouse Pictures, Andre Saballette worked for the Walt Disney Company, where he strengthened his creative skills; as well as, shaped the values he brought to Boathouse Pictures, which include high production quality and customer satisfaction. It is the experienced and skills acquired with the Walt Disney Company, along with the philosophy inspired by one of his biggest idols, Walt Disney himself, which has allowed Andre Saballette to shape the company, organizing productions, networking, and increasing the chances for high profitability.</p>

<p>He holds a Bachelor of Arts in Liberal Arts with a Minor in film, from Penn State University and is currently pursuing an MBA in Management and Economics.</p>
</div>
</div>
<br>

<div class="box panel panel-default">
<div class="panel-body">
<p><strong>Aaron Spence – Director of Special Projects & Logistics</strong></p>
<p>Aaron Spence brings with him years of experience in small business logistics and organizational management that will help make our operation much more efficient.</p>

<p>Aaron currently serves as the Director of Special Operations for BoatHouse Pictures. In that capacity, he supervises the logistical needs for clients large and small while also managing the day to day operations of the company. He is a proud graduate of both West Philadelphia Catholic High School and La Salle University. Aaron serves on the boards of several local community organizations including the West Catholic Alumni Association Board of Governors, The Overbrook Park Church of Christ, The Nubians House, and The HER Project, where he serves as Chairman of the Board.</p>
</div>
</div>
<br>

<div class="box panel panel-default">
<div class="panel-body">
<p><strong>Mario Maiale – Director of Digital Media</strong></p>
<p>Mario Maiale is our Director of Digital Media. When Mario joined Boathouse Pictures, he brought with him four years experience working in the field of graphic design, web design, and management. Prior to joining the Boathouse family, Mario worked for Rave Motion Pictures, a motion pictures theater company. There Mario worked as Manager of Operations and over saw the day to day duties of the local branch. He was also in charge of their marketing aspect and used his skills in graphic design and art to help promote various films, events, and services provided by Rave Motion Pictures. He also used his skills and education to work in the freelance sector, creating a name for himself, while still working for Rave Motion Pictures.</p>

<p>Mario Maiale holds a Bachelor of Arts in Digital Arts & Multimedia Design from La Salle University. Mario is currently pursuing his Masters in Digital Media at Drexel University.
</p>
</div>
</div>
<br>

<div class="box panel panel-default">
<div class="panel-body">
<p><strong>Don Manigly - Director of Outreach</strong></p>
<p>Don Manigly is a 2008 graduate of Temple University's School of Communications and Theater. Born and raised in Philadelphia, he has been actively involved in the performing arts since his high school days, where he was a member of the Girard Academic Music Program's jazz band and concert choir as well as a frequent cast member in various theatrical productions. He has been acting professionally for the last eight years, primarily in different independent films produced in the Greater Philadelphia region. As the Director of Outreach for Boathouse Pictures, Don handles networking and talent management for the company. Don will be serving as one of the producers as well as the Casting Director for Boathouse Pictures' debut feature film, Roadwork Ahead.<p>
</div>
</div>
<br>

<div class="box panel panel-default">
<div class="panel-body">
<p><strong>Christian Sarkis Graham - Cinematographer</strong></p>
<p>Christian studied English with a Cinema Studies emphasis at the University of Pennsylvania, and has been hard at work in Philadelphia's media industry since his graduation in 2012.</p>

<p>He has shot and edited video content for a range of organizations and companies, from WHYY's NewsWorks and Philadelphia City Paper to LiveNation and First Round Capital. He recently produced and directed second unit on a television pilot for BBC America, and his own narrative work has shown in festivals and screening events across the East Coast. A lifelong writer, he is passionate about exploring the possibilities of storytelling through the motion picture.</p>

<p>Christian is a camera operator, videographer and editor for BoatHouse Pictures, and will serve as Director of Photography for the company's debut feature, Roadwork Ahead.<p>
</div>
</div>
</div>