<div class="container-fluid">
    <br>
    <div class="jumbotron">
		<p>BoatHouse Pictures, a full service media company located in Philadelphia, focuses on the development and production of original motion pictures and other creative content. Our film projects range from shorts, using local talents, to large scale feature films. Our goal is to provide entertaining, creative, and original content.  BHP seeks to focus not only on media, but also connecting with our community and making a difference where possible. Keeping this in mind, we provide services for local businesses and consumers.</p> 

		<p>Our crew is made up of talented and passionate individuals from various backgrounds coming together to create high quality content. Our success is measured by the quality of products we provide and how we satisfy our clients' needs.</p>
	</div>

	<div class="row">
	  	<div class="col-md-8">
	  		<h1>Our Crew:</h1>
				<div id="posts" class="transitions-enabled">
					<div class="box panel panel-default">
					<div class="panel-body">
					<p><strong>Andre Saballette – Executive Director</strong><p>
					<p>Andre Saballette is the creative mind behind the philosophy, goals, and standard for the company. He has been working in the film industry, both in front of and behind the cameras, since late 2008. Since his career began, he has worked on a diverse range of projects including feature length narratives, documentaries, shorts, industrials, and commercials.  Prior to founding Boathouse Pictures, Andre worked for the Walt Disney Company, where he strengthened his creative skills; as well as, shaped the values he brought to Boathouse Pictures.</p>

					<p>Andre holds a Bachelor of Arts in Liberal Arts with a Minor in film, from Penn State University and is currently pursuing an MBA in Management and Economics.</p>
					</div>
					</div>

					<div class="box panel panel-default">
					<div class="panel-body">
					<p><strong>Aaron Spence – Director of Business Development</strong></p>
					<p>Aaron Spence brings with him years of experience in small business logistics and management that will help make our operation much more efficient.</p>

					<p>Aaron currently serves as the Director of Business Development for BoatHouse Pictures. In that capacity, he supervises the logistical needs for clients and forges partnerships with those interested in building a strong local business community. He is a proud graduate of both West Catholic Preparatory High School and La Salle University. Aaron serves on the boards of several local community organizations including the West Catholic Alumni Association Board of Governors, The Overbrook Park Church of Christ, The Nubians House, and The HER Project, where he serves as Chairman of the Board.</p>
					</div>
					</div>

					<div class="box panel panel-default">
					<div class="panel-body">
					<p><strong>Mario Maiale – Director of Media & Design</strong></p>
					<p>Mario Maiale is our Director of Digital Media & Design. When Mario joined Boathouse Pictures, he brought with him years of experience working in the graphic design, web design, and social media management. Prior to joining the Boathouse family, Mario worked for Rave Motion Pictures as Manager of Operations and over saw the day to day duties of the local branch. He was in charge of local marketing and used his skills in graphic design and art to help promote various films, events, and services.</p>

					<p>Mario Maiale holds a Bachelor of Arts in Digital Arts & Multimedia Design from La Salle University. Mario is currently pursuing his Masters in Digital Media at Drexel University.
					</p>
					</div>
					</div>

					<div class="box panel panel-default">
					<div class="panel-body">
					<p><strong>Don Manigly - Director of Client Relations</strong></p>
					<p>Don Manigly is a 2008 graduate of Temple University's School of Communications and Theater. Born and raised in Philadelphia, he has been actively involved in the performing arts since high school, where he was a member of the Girard Academic Music Program's jazz band and concert choir as well as a frequent cast member in various theatrical productions. He has been acting professionally for the last eight years, primarily in different independent films produced in the Greater Philadelphia region. As the Director of Client Relationsh, Don handles project and talent management for the company. Don will be serving as one of the producers as well as the Casting Director for Boathouse Pictures' debut feature film, Roadwork Ahead.<p>
					</div>
					</div>

					<div class="box panel panel-default">
					<div class="panel-body">
					<p><strong>Christian Sarkis Graham - Cinematographer</strong></p>
					<p>Christian studied English with a Cinema Studies emphasis at the University of Pennsylvania, and has been hard at work in Philadelphia's media industry since his graduation in 2012.</p>

					<p>He has shot and edited video content for a range of organizations and companies, from WHYY's NewsWorks and Philadelphia City Paper to LiveNation and First Round Capital. He recently produced and directed second unit on a television pilot for BBC America, and his own narrative work has shown in festivals and screening events across the East Coast. A lifelong writer, he is passionate about exploring the possibilities of storytelling through motion pictures.</p>

					<p>Christian is a camera operator, videographer and editor for BoatHouse Pictures, and will serve as Director of Photography for the company's debut feature, Roadwork Ahead.<p>
					</div>
					</div>
				</div>
		</div>

		<div class="col-md-4">
		    <h1 align="right">Testimonials</h1>

		      <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
		    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		      <br>
		      <br>

		    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbhpictures&amp;width=280&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="false">
		    </iframe>
		</div>
	</div>
