<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <h1>Boathouse Videography</h1>
        <ul class="nav navbar-nav">
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/66759737" target="_blank" >
                <img src="images/thumbnail/roadwork.png" alt="Road Work Ahead Trailer"/>
                <p>Road Work Ahead<p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/53698253" target="_blank">
                <img src="images/thumbnail/welcome.png" alt="Welcoming Center"/>
                <p>Welcoming Center</p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/49778454" target="_blank">
                <img src="images/thumbnail/monument.png" 
                alt="The Rotunda presents: MONUMENT — a Drexel Players production"/>
                <p>MONUMENT</p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/55955897" target="_blank">
                <img src="images/thumbnail/sisters.png" 
                alt="WHYY – NewsWorks: Camden Sophisticated Sisters step to success"/>
                <p>Camden Sophisticated Sisters</p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=G08vvPvWqaY" target="_blank">
                <img src="images/thumbnail/450.png" alt="450"/>
                <p>450 Green Apartments</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=xd8kyYxMr_Q" target="_blank">
                <img src="images/thumbnail/mod.png" alt="MOD Worldwide" />
                <p>MOD Worldwide</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=n6VYxiEOoEs" target="_blank">
                <img src="images/thumbnail/laundry.png" alt="Wash Cycle Laundry" />
                <p>Wash Cycle Laundry</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=Sw9G3Kkhjzo" target="_blank">
                <img src="images/thumbnail/carshare.png" alt="Philly Car Share" />
                <p>Philly Car Share</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=cIhnkd05TWo" target="_blank">
                <img src="images/thumbnail/forty.png" alt="Denese and Lesa - Birthday" />
                <p>Denese and Lesa - Birthday</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
          </li>
        </ul>
    </div>

    <div class="col-md-4">
      <h1 align="right">Social Media</h1>

        <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <br>
        <br>

      <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbhpictures&amp;width=280&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="false">
      </iframe>
    </div>

  </div>