</div>
<div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
          <img src="images/commercial_edit.jpg" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Veterans Multi-Service Center PSA</h1>
            <h2 class="shadow5">BoatHouse Pictures</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/roadworkahead_large.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Road Work Ahead Teaser Trailer</h1>
            <h2 class="shadow5">Christian Sarkis Graham</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/monument.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">MONUMENT</h1>
            <h2 class="shadow5">Christian Sarkis Graham</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/sisters.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Camden Sophisticated Sisters</h1>
            <h2 class="shadow5">Christian Sarkis Graham</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/450.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">450 Green Apartments</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/mod.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">MOD Worldwide</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/laundry.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Wash Cycle Laundry</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/carshare.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Philly Car Share</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1>BoatHouse Videography</h1>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Veterans Multi-Service Center PSA</h2>
                <h5>Video by <strong>BoatHouse Pictures</strong></h5>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XbaRSVM2PAA" frameborder="0" allowfullscreen></iframe>
                <br>
                <br>
                <p>The VMC has provided US military veterans with a multitude of services for over 30 years. By providing meals, homes, job skills, and more; the VMC helps our veterans with anything they need to adjust to live back home.</p>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Road Work Ahead Teaser Trailer</h2>
                <h5>Video by <strong>Christian Graham</strong></h5>
                <iframe src="https://player.vimeo.com/video/66759737" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <br>
                <br>
                <p>Teaser trailer for ROADWORK AHEAD, the upcoming feature from BoatHouse Pictures.
                </p>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>MONUMENT</h2>
                <h5>Video by <strong>Christian Graham</strong></h5>
                <iframe src="https://player.vimeo.com/video/49778454" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <br>
                <br>
                <p>Laurel Hostak discusses the plot, themes and goals of the Drexel Players' production, MONUMENT.</p>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Camden Sophisticated Sisters</h2>
                <h5>Video by <strong>Christian Graham</strong></h5><iframe src="https://player.vimeo.com/video/55955897" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <br>
                <br>
                <p>Video installment for NewsWorks article, documenting the history and impact of the Camden Sophisticated Sisters Drill Team.</p>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>450 Green Apartments</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/G08vvPvWqaY" frameborder="0" allowfullscreen></iframe>
                <br>
                <br>
                <p>450 GREEN APARTMENT HOMES OFFERS YOU CONVENIENCE AND AFFORDABLE LUXURY! Our beautiful apartments are situated in a quiet residential location, yet minutes from the PA Turnpike, Route 202, I-76, and Route 476. Enjoy nearby shopping in King of Prussia and Plymouth Meeting, and easy access to Greater Philadelphia. Select homes feature newly renovated kitchens and bath finishes. Enjoy our fitness center, pool, flexible lease terms and unsurpassed customer service. Plus, 450 Green Apartments is pet friendly!</p>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>MOD Worldwide</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xd8kyYxMr_Q" frameborder="0" allowfullscreen></iframe>
                <p></p>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Wash Cycle Laundry</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/n6VYxiEOoEs" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Philly Car Share</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Sw9G3Kkhjzo" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
    </div>

    <div class="col-md-4">

      <br>
      
        <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

  </div>
    
</div>