<h1>Boathouse Videography</h1>
  <h2>Christian Graham</h2>
    <div class="fleft">
      <ul class="navigation4">
        <li><a href="http://vimeo.com/66759737" rel="prettyPhoto">
        <img src="thumbnail/roadwork.png" alt="Road Work Ahead Trailer"/>Road Work Ahead</a></li>
        <li><a href="http://vimeo.com/53698253" rel="prettyPhoto">
        <img src="thumbnail/welcome.png" alt="The Many Faces of the Welcoming Center"/>
        The Many Faces of the Welcoming Center</a></li>
        <li><a href="http://vimeo.com/49778454" rel="prettyPhoto">
        <img src="thumbnail/monument.png" 
        alt="The Rotunda presents: MONUMENT — a Drexel Players production"/>MONUMENT</a></li>
        <li><a href="http://vimeo.com/55955897" rel="prettyPhoto">
        <img src="thumbnail/sisters.png" 
        alt="WHYY – NewsWorks: Camden Sophisticated Sisters step to success"/>
        Camden Sophisticated Sisters</a></li>
    	</ul>
		</div>
    
    <h2>Joe Kramer</h2>                
  	<div class="fleft">
        <ul class="navigation4">
            <li><a href="http://www.youtube.com/watch?v=G08vvPvWqaY" rel="prettyPhoto">
            <img src="thumbnail/450.png" alt="450"/>450 Green Apartments</a></li>
            
            <li><a href="http://www.youtube.com/watch?v=xd8kyYxMr_Q" rel="prettyPhoto">
            <img src="thumbnail/mod.png" alt="MOD Worldwide" />MOD Worldwide</a></li>
            
            <li><a href="http://www.youtube.com/watch?v=n6VYxiEOoEs" rel="prettyPhoto">
            <img src="thumbnail/laundry.png" alt="Wash Cycle Laundry" />Wash Cycle Laundry</a></li>
            
            <li><a href="http://www.youtube.com/watch?v=Sw9G3Kkhjzo" rel="prettyPhoto">
            <img src="thumbnail/carshare.png" alt="Philly Car Share" />Philly Car Share</a></li>
            
            <li><a href="http://www.youtube.com/watch?v=cIhnkd05TWo" rel="prettyPhoto">
            <img src="thumbnail/forty.png" alt="Denese and Lesa - Birthday" />Denese and Lesa - Birthday
            </a></li>
        </ul>
     	</div>