</div>
<div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
          <img src="images/thumbnail/roadworkahead_large.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Road Work Ahead Teaser Trailer</h1>
            <h2 class="shadow5">Christian Sarkis Graham</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/monument.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">MONUMENT</h1>
            <h2 class="shadow5">Christian Sarkis Graham</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/sisters.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Camden Sophisticated Sisters</h1>
            <h2 class="shadow5">Christian Sarkis Graham</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/450.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">450 Green Apartments</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/mod.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">MOD Worldwide</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/laundry.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Wash Cycle Laundry</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

      <div class="item">
          <img src="images/thumbnail/carshare.png" alt="carousel" width="100%">
          <div class="carousel-caption">
            <h1 class="shadow5">Philly Car Share</h1>
            <h2 class="shadow5">Joe Kramer</h2>
          </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1>BoatHouse Videography</h1>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Road Work Ahead Teaser Trailer</h2>
                <h5>Video by <strong>Christian Graham</strong></h5>
                <a href="http://vimeo.com/66759737" target="_blank" >
                <img src="images/thumbnail/roadworkahead_large.png" 
                alt="Road Work Ahead Trailer"/></a>
              </div>
            </div>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>MONUMENT</h2>
                <h5>Video by <strong>Christian Graham</strong></h5>
                <a href="http://vimeo.com/49778454" target="_blank">
                <img src="images/thumbnail/monument.png" 
                alt="The Rotunda presents: MONUMENT — a Drexel Players production"/></a>
              </div>
            </div>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Camden Sophisticated Sisters</h2>
                <h5>Video by <strong>Christian Graham</strong></h5>
                <a href="http://vimeo.com/55955897" target="_blank">
                <img src="images/thumbnail/sisters.png" 
                alt="WHYY – NewsWorks: Camden Sophisticated Sisters step to success"/></a>
              </div>
            </div>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>450 Green Apartments</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <a href="http://www.youtube.com/watch?v=G08vvPvWqaY" target="_blank">
                <img src="images/thumbnail/450.png" alt="450"/></a>
              </div>
            </div>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>MOD Worldwide</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <a href="http://www.youtube.com/watch?v=xd8kyYxMr_Q" target="_blank">
                <img src="images/thumbnail/mod.png" alt="MOD Worldwide" /></a>
              </div>
            </div>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Wash Cycle Laundry</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <a href="http://www.youtube.com/watch?v=n6VYxiEOoEs" target="_blank">
                <img src="images/thumbnail/laundry.png" alt="Wash Cycle Laundry" /></a>
              </div>
            </div>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h2>Philly Car Share</h2>
                <h5>Video by <strong>Joe Kramer</strong></h5>
                <a href="http://www.youtube.com/watch?v=Sw9G3Kkhjzo" target="_blank">
                <img src="images/thumbnail/carshare.png" alt="Philly Car Share" /></a>
              </div>
            </div>
    </div>

    <div class="col-md-4">

      <br>
      
        <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

  </div>
    
</div>