<div class="container-fluid">
<div class="mainbox">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="row">
    <div class="col-md-8">
      <h1>Boathouse Videography</h1>
        <ul class="nav navbar-nav">
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/66759737" target="_blank" >
                <img src="images/thumbnail/roadwork.png" alt="Road Work Ahead Trailer"/>
                <p>Road Work Ahead<p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/53698253" target="_blank">
                <img src="images/thumbnail/welcome.png" alt="Welcoming Center"/>
                <p>Welcoming Center</p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/49778454" target="_blank">
                <img src="images/thumbnail/monument.png" 
                alt="The Rotunda presents: MONUMENT — a Drexel Players production"/>
                <p>MONUMENT</p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://vimeo.com/55955897" target="_blank">
                <img src="images/thumbnail/sisters.png" 
                alt="WHYY – NewsWorks: Camden Sophisticated Sisters step to success"/>
                <p>Camden Sophisticated Sisters</p></a></h3>
                <h5>Posted by <strong>Christian Graham</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=G08vvPvWqaY" target="_blank">
                <img src="images/thumbnail/450.png" alt="450"/>
                <p>450 Green Apartments</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=xd8kyYxMr_Q" target="_blank">
                <img src="images/thumbnail/mod.png" alt="MOD Worldwide" />
                <p>MOD Worldwide</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=n6VYxiEOoEs" target="_blank">
                <img src="images/thumbnail/laundry.png" alt="Wash Cycle Laundry" />
                <p>Wash Cycle Laundry</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=Sw9G3Kkhjzo" target="_blank">
                <img src="images/thumbnail/carshare.png" alt="Philly Car Share" />
                <p>Philly Car Share</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
            </div>
          </li>
          <li>
            <div class="box1 panel panel-default">
              <div class="panel-body">
                <h3><a href="http://www.youtube.com/watch?v=cIhnkd05TWo" target="_blank">
                <img src="images/thumbnail/forty.png" alt="Denese and Lesa - Birthday" />
                <p>Denese and Lesa - Birthday</p></a></h3>
                <h5>Posted by <strong>Joe Kramer</strong>
              </div>
          </li>
        </ul>
    </div>

    <div class="col-md-4">

      <br>

      <div class="fb-like-box" data-href="https://www.facebook.com/bhpictures" data-width="250px" data-height="290" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
      
        <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

  </div>
</div>