<h1>Boathouse Videography</h1>

<h2>Joe Kramer</h2>                
  	<div id="posts" class="transitions-enabled">
        <ul class="nav-vid">
          <div class="box panel panel-default">
            <div class="panel-body">
              <li><a href="http://www.youtube.com/watch?v=G08vvPvWqaY" rel="prettyPhoto">
              <img src="images/thumbnail/450.png" alt="450"/>
              450 Green Apartments</a></li>
            </div>
          </div>
          <div class="box panel panel-default">
            <div class="panel-body">
              <li><a href="http://www.youtube.com/watch?v=xd8kyYxMr_Q" rel="prettyPhoto">
              <img src="images/thumbnail/mod.png" alt="MOD Worldwide" />
              MOD Worldwide</a></li>
            </div>
          </div>
          <div class="box panel panel-default">
            <div class="panel-body">
            <li><a href="http://www.youtube.com/watch?v=n6VYxiEOoEs" rel="prettyPhoto">
            <img src="images/thumbnail/laundry.png" alt="Wash Cycle Laundry" />
            Wash Cycle Laundry</a></li>
            </div>
          </div>
          <div class="box panel panel-default">
            <div class="panel-body">
              <li><a href="http://www.youtube.com/watch?v=Sw9G3Kkhjzo" rel="prettyPhoto">
              <img src="images/thumbnail/carshare.png" alt="Philly Car Share" />
              Philly Car Share</a></li>
            </div>
          </div>
          <div class="box panel panel-default">
            <div class="panel-body">
              <li><a href="http://www.youtube.com/watch?v=cIhnkd05TWo" rel="prettyPhoto">
              <img src="images/thumbnail/forty.png" alt="Denese and Lesa - Birthday" />
              Denese and Lesa - Birthday</a></li>
            </div>
          </div>
        </ul>
     	</div>