<h1>Boathouse Videography</h1>

      <ul class="nav navbar-nav">
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://vimeo.com/66759737" target="_blank" >
            <img src="images/thumbnail/roadwork.png" alt="Road Work Ahead Trailer"/>
            <p>Road Work Ahead<p></a></h3>
            <h5>Posted by <strong>Christian Graham</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://vimeo.com/53698253" target="_blank">
            <img src="images/thumbnail/welcome.png" alt="Welcoming Center"/>
            <p>Welcoming Center</p></a></h3>
            <h5>Posted by <strong>Christian Graham</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://vimeo.com/49778454" target="_blank">
            <img src="images/thumbnail/monument.png" 
            alt="The Rotunda presents: MONUMENT — a Drexel Players production"/>
            <p>MONUMENT</p></a></h3>
            <h5>Posted by <strong>Christian Graham</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://vimeo.com/55955897" target="_blank">
            <img src="images/thumbnail/sisters.png" 
            alt="WHYY – NewsWorks: Camden Sophisticated Sisters step to success"/>
            <p>Camden Sophisticated Sisters</p></a></h3>
            <h5>Posted by <strong>Christian Graham</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://www.youtube.com/watch?v=G08vvPvWqaY" target="_blank">
            <img src="images/thumbnail/450.png" alt="450"/>
            <p>450 Green Apartments</p></a></h3>
            <h5>Posted by <strong>Joe Kramer</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://www.youtube.com/watch?v=xd8kyYxMr_Q" target="_blank">
            <img src="images/thumbnail/mod.png" alt="MOD Worldwide" />
            <p>MOD Worldwide</p></a></h3>
            <h5>Posted by <strong>Joe Kramer</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
          <h3><a href="http://www.youtube.com/watch?v=n6VYxiEOoEs" target="_blank">
          <img src="images/thumbnail/laundry.png" alt="Wash Cycle Laundry" />
          <p>Wash Cycle Laundry</p></a></h3>
          <h5>Posted by <strong>Joe Kramer</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://www.youtube.com/watch?v=Sw9G3Kkhjzo" target="_blank">
            <img src="images/thumbnail/carshare.png" alt="Philly Car Share" />
          <p>Philly Car Share</p></a></h3>
          <h5>Posted by <strong>Joe Kramer</strong>
          </div>
        </div>
        </li>
        <li>
        <div class="box1 panel panel-default">
          <div class="panel-body">
            <h3><a href="http://www.youtube.com/watch?v=cIhnkd05TWo" target="_blank">
            <img src="images/thumbnail/forty.png" alt="Denese and Lesa - Birthday" />
            <p>Denese and Lesa - Birthday</p></a></h3>
            <h5>Posted by <strong>Joe Kramer</strong>
          </div>
        </li>
        </div>

      </ul>