<div class="container-fluid">
	<br>
<h1>Services</h1>
<p>Below is a list of service offered by BoatHouse Pictures, click on the categories below 
for each specific service:</p>

	<ul class="nav navbar-nav navbar-middle">
        <li><%= link_to "Event Coverage", event_path %></li>
        <li><%= link_to "Corporate Services", corporate_path %></li>
        <li><%= link_to "Special Services", special_path %></li>
        <li><%= link_to "Points with Perna", perna_path %></li>
  	</ul>

<br>
<br>
<br>

<div class="box panel panel-default">
<div class="panel-body">
	<h2>Points with Perna</h2>
	<p>Join actor, director and playwright, Jerry Perna for a Scene Study class using classic 
	20th century American plays, including the works of Arthur Miller, Lillian Hellman and 
	Horton Foote. Through script work, character analysis as well as practical on-your-feet 
	experience, actors will deepen their understanding, gain meaningful experience, refine 
	their craft...and have fun, too!</p>

	<p>This 10-week course introduces students to the specialized skill set required for an 
	actor to work effectively  in film and theatre. Class sessions will consist of exercises 
	aimed at strengthening specific acting techniques, followed by scene work to demonstrate 
	practical application. Students will complete the course with a new toolbox from which to 
	build an organic and compelling character. The course will culminate in a performance 
	consisting of scenes and monologues performed by students.</p>

	<p>From basic principles to brushing up technique, this course is recommended for actors 
	of all skill levels. <p/>

	<p>Topics will include:<p>

	<ul>
		<li>Script & scene analysis</li>
		<li>Intention / obstacle or conflict</li>
		<li>The Moment Before</li>
		<li>Concentration / public solitude</li>
		<li>The magic 'If'</li>
		<li>Subtext</li>
		<li>Sense of time & place</li>
		<li>Building a character (point of view)</li>
		<li>Affective memory</li>
		<li>Endowment / Personalization</li>
		<li>And much more!</li>
	</ul>

<p>Points with Perna*: $250 for a ten week course</p>

<p>*Location to be announced soon.</p>

<p><a href="http://mkt.com/boathouse-pictures/intermediate-acting-class">Register Here</a></p>

</div>
</div>

<div class="box panel panel-default">
<div class="panel-body">
	<p><img src="images/perna_edit.jpg" align="left">
	JERRY PERNA, is a teacher, acting coach,
	director & produced playwright, with over 30 years of industry experience. He has worked 
	alongside many talented artists, including Oscar, Tony & Emmy Award winners and nominees. 
	His experience includes appearances with Ruben Santiago-Hudson on the NOVA show for PBS; 
	with Richard Thomas, in Nickolodeon's LIVEWIRE program; national commercials for Lite 
	Beer, Sports Illustrated & Dunkin' Donuts; appearances in independent & feature/short 
	films like SEASON (Best Short Film---1997 Atlantic City Film Festival); A CHRONICLE OF 
	CORPSES (Included on The New York Times & Village Voice Top Ten Lists for 2001); WILLY 
	WILL, THE BUXTONS, THE SACRAMENT OF LIFE, the music video UNFAIR (www.billmadden.
	com/UNFAIR) and the short musical film THOMAS ROSENBOW AND A MILLION POUNDS.</p>

	<p>For the past 15 years Jerry has carried on a dual career as a facilitator/director of 
	creative arts programs for the Senior population, as well as, persons living wth physical 
	& developmental disabilities, with an eye towards Community Inclusion & an opportunity 
	for all people to tell their own story in their own way.He has also done numerous voice-
	overs & narrations for radio spots & documentary films and recently completed work in 
	David O. Russell's THE SILVER LININGS PLAYBOOK, Ben Donellon's THE REISS DISORDER and 
	Graham Nolte's PARALLAX.</p>
</div>
</div>