<h1>Services</h1>
<p>Below is a list of service offered by BoatHouse Pictures, click on the categories below for each specific service:</p>

	<ul class="nav navbar-nav navbar-middle">
        <li><%= link_to "Event Coverage", event_path %></li>
        <li><%= link_to "Corporate Services", corporate_path %></li>
        <li><%= link_to "Special Services", special_path %></li>
  	</ul>