// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  	margin: 0 auto;
    margin-top: -40px;
}	

.mainbox {
    background-color: #FFFFFF;
    // drop shadow
    -moz-box-shadow: 1px 0px 5px rgba(0,0,0,.5); 
    -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,.5);
    box-shadow: 1px 0px 5px rgba(0,0,0,.5); /*10px is horizontal offset, 5px is vertical offset, 15px is blur radius and rgba(0,0,0,.5) is shadow color*/
}

.box {
  	width: 95%;
    background-color: #ecf0f1;
}

.box1 {
    margin: 5px;
    width: 214px;
    -moz-box-shadow:10px 5px 15px rgba(0,0,0,.5); 
	  -webkit-box-shadow:10px 5px 15px rgba(0,0,0,.5);
	  box-shadow: 1px 3px 5px rgba(0,0,0,.5); /*10px is horizontal offset, 5px is vertical offset, 15px is blur radius and rgba(0,0,0,.5) is shadow color*/
 	  margin-bottom: 30px;
}

.box1 img {
  width: 100%;
}

// #posts_alt {
//   	margin: 0 0px 0 0;
// }
