// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  	margin: 0 auto;
}

// #posts_alt {
//   	margin: 0 0px 0 0;
// }

.box {
  	width: 100%;
}

.box img {
  	width: 100%;
}

.box1 {
  margin: 5px;
  width: 214px;
}

.box1 img {
  width: 100%;
}


