<br>
<br>
<nav class="navbar navbar-static-top navbar-default" role="navigation">

<ul class="nav navbar-nav navbar-justified">
  <% if admin_signed_in? %>
    <li>
      <%= link_to new_post_path do %>
        <span class="glyphicon glyphicon-plus"></span> Post
          <% end %>
    </li>
        <li><%= link_to "Account", edit_admin_registration_path %></li>
        <li><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Admin Log In", new_admin_session_path %></li>
      <% end %>
      <br>
      <br>
</ul>

<br>
<br>

<h4>© Copyright 2013 BoatHouse Pictures</h4>